.our-blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-container {
  margin-block-end: 100px;
}

.image-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f6fbe9;
  border-radius: 12px;
}

.image-container-flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #e5f5bd;
  /* padding: 40px 40px 24px 40px; */
}

.weight,
.healthy,
.fitness,
.mindset,
.recipes {
  display: none;
}

.healthy-eating-img {
  width: 100%;
  max-width: 393px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}

.img-container-end {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #cbea7b;
  padding: 0px 40px;
  
}

.img-container-txt {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.block_depiction-btn
 {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0px 40px 24px 40px;
}

.block_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-container-txt h3 {
  border-bottom: 2px solid #cbea7b;
}

.container-txt {
  display: flex;
  margin: 40px 40px 0px;
}

/* для свайпа блока  */

.block-command {
  display: flex; /* Используем flex для горизонтального расположения кнопок */
  justify-content: flex-start;
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  white-space: nowrap; /* Запрещаем перенос строк */
  
}

.btn-command {
  flex: 0 0 auto; /* Запретить сжиматься кнопкам */
  margin-right: 10px; /* Отступ между кнопками */
}

.btn-command:last-child{
  margin: 0;
}

@media (width < 1034px) {
  .image-container-grid{
    grid-template-columns: none;
  }

 
}

@media (width < 755px) {
  .image-container {
    margin-block-end: 60px;
  }
}


@media (width < 556px) {
  .img-container-end {
    padding: 0px 20px;
  }

  .container-txt {
    margin: 40px 20px 0px;
  }

  .block_depiction-btn {
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 20px 24px 20px;
  }
}