.circle-bullets-txt::marker{
    color:#427b67;
   
}

.circle-bullets {
    list-style-type: disc;
    padding-left: 20px;
}

.circle-bullets-txt span {
    font-weight: 600;
}

.red {
    color: red;
}