/* Элемент с фоном */
.background-crosses {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  background-image: url("../svg/background-crosses.svg");
  background-color: #f6fbe9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  border: 1px solid #e5f5bd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.header {
  margin-block-end: 50px;
}

.logo-team-img {
  margin-block-start: 80px;
}

.command-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block-end: 80px;
}

.command-title {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1.75rem, 1.491rem + 1.105vw, 2.375rem);
  font-weight: 500;
  text-align: center;
  font-style: normal;
}

.command-paragraph {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(0.875rem, 0.8232rem + 0.221vw, 1rem);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
}

.block-command {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background-color: #234338;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.btn-txt {
  font-family: "Urbanist", sans-serif;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.btn-txt-one{
  font-family: "Urbanist", sans-serif;
  color: black;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.btn-command {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.specialists {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img-manager {
  max-width: 100%;
  width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide-block {
  position: relative;
  top: -20px;
  left: -6%;
  padding: 20px;
  min-width: 200px;
  border-top-right-radius: 20px;
  background-color: #f6fbe9;
}

.image-container {
  display: flex;
}

.management {
  align-items: center;
}

.nutrition {
  display: none;
}

.btn-command.active {
  background-color: #2c5446;
  border: 1px solid #356554;
  border-radius: 6px;
}

.gallary-padding {
  margin-block-end: 50px;
}

@media (width < 752px) {
    .header {
        gap: 60px;
    }

    .achievements {
        margin-block-end: 60px;
        
    }
}
